@charset "UTF-8";

/*
    em HTML é id    =  em CSS é #
    em HTML é class =  em CSS é .
*/

body{
    background-color: #13BA42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #0C7A2B;
}

h1#principal{
    text-align: center;
    background-color: #063B15;
    color: white;
}

h2{
    color: #1AFA58;
}

.basico{
 color: rgb(136, 136, 11);
}

.intermediario{
 color: rgb(117, 17, 17);
}

.avançado{
 color: rgb(17, 17, 112);
}